<!doctype html>
<html>
  <head>
    <title>Welcome to <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/usr/387/main.css" />
  </head>
  <body>
    <h1>Welcome to <%= shopData.shopName %></h1>

    <!-- PUBLIC LINK -->
    <p><a href="/usr/387/about">About <%= shopData.shopName %></a></p>

    <!-- BOOK LINKS -->
    <p><a href="/usr/387/books/search">Search for books</a></p>

    <% if (session && session.userId) { %>
        <!-- Only visible when logged in -->
        <p><a href="/usr/387/books/addbook">Add books</a></p>
        <p><a href="/usr/387/books/list">List of our books</a></p>
    <% } else { %>
        <!-- When logged out -->
        <p><a href="/usr/387/users/login">(Login required) Add books</a></p>
        <p><a href="/usr/387/users/login">(Login required) List of our books</a></p>
    <% } %>

    <!-- USER LINKS -->
    <% if (session && session.userId) { %>
        <p><strong>Logged in as <%= session.userId %></strong></p>
        <p><a href="/usr/387/logout">Logout</a></p>
        <p><a href="/usr/387/users/listusers">List Users</a></p>
        <p><a href="/usr/387/users/audit">View Audit Log</a></p>
    <% } else { %>
        <p><a href="/usr/387/users/register">Register with us</a></p>
        <p><a href="/usr/387/users/login">Login</a></p>
    <% } %>

  </body>
</html>
