<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>

    <!-- Correct CSS path -->
    <link rel="stylesheet" type="text/css" href="/usr/387/public/main.css" />
</head>
<body>

<h1>Login</h1>

<% if (message) { %>
    <p style="color:red;"><%= message %></p>
<% } %>

<!-- Corrected form action -->
<form action="/usr/387/users/loggedin" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

<p><a href="/usr/387/">Return to Home</a></p>

</body>
</html>
